:root {
  --color-primary: '#264173',
  --color-on-primary: '#eff1f6',
  --color-inverse-primary: '#b3c5e5',
  --color-on-inverse-primary: '#1a2c4c',
  --color-primary-container: '#b3c5e5',
  --color-on-primary-container: '#1a2c4c',
  --color-secondary: '#404859',
  --color-on-secondary: '#f0f2f4',
  --color-secondary-container: '#c4c9d4',
  --color-on-secondary-container: '#404859',
  --color-tertiary: '#2c5f6d',
  --color-on-tertiary: '#edf5f8',
  --color-tertiary-container: '#b6d8e2',
  --color-on-tertiary-container: '#1d3f49',
  --color-error: '#6d2c33',
  --color-on-error: '#f8edee',
  --color-error-container: '#e1b7bb',
  --color-on-error-container: '#481e22',
  --color-warn: '#743825',
  --color-on-warn: '#f9efec',
  --color-warn-container: '#e6beb2',
  --color-on-warn-container: '#481e22',
  --color-success: '#4b6237',
  --color-on-success: '#f2f6ef',
  --color-success-container: '#324125',
  --color-background: '#fcfcfd',
  --color-on-background: '#191b1f',
  --color-surface: '#fbfcfe',
  --color-on-surface: '#1a1a1a',
  --color-surface-variant: '#e2e3e9',
  --color-on-surface-variant: '#434556',
  --color-outline: '#6f7390',
  --color-outline-variant: '#c5c7d3',
}
