.headline {
  font-weight: 400;
  letter-spacing: 0;
}

.headline--small {
  font-size: 14px;
  line-height: 20px;
}

.headline--medium {
  font-size: 16px;
  line-height: 24px;
}

.headline--large {
  font-size: 22px;
  line-height: 28px;
}
